@import "./styles/global.scss";

main {
  height: 100%;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: $background-light-primary;
  @include transition;

  .dark-mode-primary & {
    background-color: $background-dark-primary;
  }

  nav {
    display: flex;
    gap: 20px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    @include tablet {
      flex-direction: row;
      gap: 15px;
    }

    @include desktop {
      gap: 20px;
    }
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }
}

// Container styles
.container {
  padding: 20px;
  background-color: $background-light-primary;
  border: 1px solid $secondary-accent-light-primary;
  border-radius: 5px;
  @include transition;

  .dark-mode-primary & {
    background-color: $background-dark-primary;
    border: 1px solid $secondary-accent-dark-primary;
  }

  @include mobile {
    padding: 10px;
  }

  @include tablet {
    padding: 15px;
  }

  @include desktop {
    padding: 20px;
  }

  @include large-desktop {
    padding: 30px;
  }
}

// Footer styles
footer {
  padding: 20px;
  background-color: $background-light-primary;
  text-align: center;
  @include transition;

  .dark-mode-primary & {
    background-color: $background-dark-primary;
  }

  @include mobile {
    padding: 10px;
  }

  @include tablet {
    padding: 15px;
  }

  @include desktop {
    padding: 20px;
  }

  @include large-desktop {
    padding: 30px;
  }
}

// Button styles
.button {
  background: $accent-light-primary;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  @include transition;

  &:hover {
    background: darken($accent-light-primary, 10%);
  }

  .dark-mode-primary & {
    background: $accent-dark-primary;

    &:hover {
      background: lighten($accent-dark-primary, 10%);
    }
  }

  @include mobile {
    padding: 8px 16px;
    font-size: 14px;
  }

  @include tablet {
    padding: 9px 18px;
    font-size: 15px;
  }

  @include desktop {
    padding: 10px 20px;
    font-size: 16px;
  }

  @include large-desktop {
    padding: 12px 24px;
    font-size: 18px;
  }
}
