@import "../../styles/global.scss";

.form-field {
  margin-bottom: 1.5rem;
  width: 100%;

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: $text-light-primary; /* Adapt color to your theme */
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2); /* Glassy effect */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .text-input,
    .select-field,
    .textarea-field,
    .file-input {
      width: 100%;
      padding: 0.75rem 1rem;
      border: none;
      outline: none;
      backdrop-filter: blur(10px);
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
      color: $text-light-primary; /* Adjust for dark mode */
      font-size: 1rem;

      &::placeholder {
        color: $text-light-minimalist;
      }
    }

    .input-error {
      border-bottom: 2px solid $error-color; /* Red underline for error */
    }

    .toggle-password {
      position: absolute;
      right: 1rem;
      background: none;
      border: none;
      color: $accent-light-primary; /* Adjust for dark mode */
      cursor: pointer;
    }
  }

  .radio-label {
    display: flex;
    align-items: center;
    margin-right: 1rem;

    input[type="radio"] {
      margin-right: 0.5rem;
    }
  }

  .error-message {
    margin-top: 0.5rem;
    color: $error-color;
    font-size: 0.875rem;
  }

  &.has-error {
    .input-wrapper {
      box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2);
    }
  }
}
