@import "../styles/global.scss";

.auth-layout {
  position: relative;
  min-height: 100vh; /* Ensure it covers the entire viewport height */
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../public/authbg.png") no-repeat center center;
  background-size: cover;
  background-position: center;
  padding-bottom: 80px;
  transition: all 0.3s ease-in-out;

  // Inner container for auth components
  .auth-container {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    border-radius: 10px;

    transition: all 0.3s ease-in-out;

    @include mobile {
      padding: 15px;
    }

    @include tablet {
      padding: 18px;
    }

    @include desktop {
      padding: 20px;
    }

    @include large-desktop {
      padding: 25px;
    }
  }
}
