@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin responsive($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin mobile {
  @include responsive(576px);
}
@mixin tablet {
  @include responsive(768px);
}
@mixin desktop {
  @include responsive(992px);
}
@mixin large-desktop {
  @include responsive(1200px);
}

@mixin fade-in-out($duration) {
  transition: opacity $duration, transform $duration;
  &.enter {
    opacity: 0;
    transform: translateY(100%);
  }
  &.enter-active {
    opacity: 1;
    transform: translateY(0);
  }
  &.exit {
    opacity: 1;
    transform: translateY(0);
  }
  &.exit-active {
    opacity: 0;
    transform: translateY(-100%);
  }
}
