$background-light-primary: #f2f2f2;
$text-light-primary: #000000;
$accent-light-primary: #007aff;
$secondary-accent-light-primary: #ff9500;
$error-color-light: #ff4d4f;
$success-color-light: #52c41a;

$background-light-minimalist: #ffffff;
$text-light-minimalist: #212121;
$accent-light-minimalist: #333333;

$background-light-pastel: #f7f7ff;
$text-light-pastel: #424242;
$accent-light-pastel: #99ccff;
$secondary-accent-light-pastel: #ffd9b3;

// Define color variables for Dark Mode themes
$background-dark-primary: #000000;
$text-dark-primary: #ffffff;
$accent-dark-primary: #00a0ff;
$secondary-accent-dark-primary: #ffcc99;
$error-color-dark: #ff4d4f;
$success-color-dark: #52c41a;

$background-dark-cyberpunk: #171717;
$text-dark-cyberpunk: #cccccc;
$accent-dark-cyberpunk: #00ff00;
$secondary-accent-dark-cyberpunk: #ff00ff;

$background-dark-space: #121212;
$text-dark-space: #eaeaea;
$accent-dark-space: #007fff;
$secondary-accent-dark-space: #ffd700;

// Define additional color variables
$error-color: #ff4d4f; // Red for errors
$success-color: #52c41a; // Green for success
$secondary-accent-light-primary: #d9d9d9;
$secondary-accent-dark-primary: #595959;
$accent-light-primary: #40a9ff;
$accent-dark-primary: #1890ff;
$text-light-primary: #000000;
$text-dark-primary: #ffffff;
$background-light-primary: #ffffff;
$background-dark-primary: #141414;

// Define dark variants if necessary
$error-color-dark: #ff7875;
$success-color-dark: #73d13d;
